* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: lightgray solid;
  border-width: 1px;
  width: 100%;
  height: 75px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1300px;
  color: #33312E;
}

.navbar-items button {
  margin-left: 30px;
  cursor: pointer;
  height: 30px;
  width: 70px;
  border-radius: 7px;
  border: none;
  background-color: #279af1;
  color: white;
  box-shadow: black 2px 2px 4px 0px;
  font-weight: bold;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #279af1;
  margin-left: 30px;
}

.savedItems-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

#savedLink {
    color: #33312E;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.searchbar-input {
  width: 700px;
  height: 45px;
  border-radius: 5px;
  border: #33312E solid;
  border-width: 1.5px;
  outline-color:#279af1 ;
  padding: 0px 10px;
}

.searchbar-input::placeholder {
  text-align: center;
}

.searchbar-button {
  justify-content: center;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  background-color: #279af1;
  color: white;
  border: none;
  box-shadow: #33312E 2px 2px 5px 0px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}


.flex-column {
  display: flex;
  flex-direction: column;
}